body {
  background-image: url(./imgs/video-call.jpg);
  background-size: cover;
  background-repeat: no-repeat;
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  h1 {
    margin-bottom: 2rem;
    background-color: #4CAF50;
      padding: 5px 15px;

  
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #3e8e41; /* Darker green */
  }
  